<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<html>

<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="home.css">
  <style>
    #customers {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    #customers td,
    #customers th {
      border: 1px solid #ddd;
      padding: 8px;
    }

    #customers tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    #customers tr:hover {
      background-color: #ddd;
    }

    #customers th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #04AA6D;
      color: white;
    }
  </style>
</head>

<body>
  <table id="customers">
    <tr>
    </tr>
  </table>
</body>
<script type="text/javascript">
  
  var socket = io();
  function deleteUser(uid) {
    socket.emit('delUser', uid);
  }

  function isEnable(uid, enable) {
    socket.emit('enable', { uid, enable });
  }
  function load_js()
   {
      var head= document.getElementsByTagName('head')[0];
      var script= document.createElement('script');
      script.src= 'source_file.js';
      head.appendChild(script);
   }
  socket.emit('getData');

  socket.on("reload", function (data) {
    // load_js();  
  });
  socket.on("newData", function (data) {
    $("#customers tbody").append("<tr>" +
        "<th>" +'Email' + "</th>" +
        "<th> Display name </th>");
    data.user.forEach(element => {
      var anem = ''
      if (element.name) {
        anem = element.name
      } else {
        anem = ''
      }
      var deleteButton = document.createElement("button");
      var sw = document.createElement("input");

      deleteButton.textContent = 'Xóa';
      deleteButton.style.background = '#ef5362'
      deleteButton.style.color = '#FFFFFF'
      deleteButton.style.padding = `${parseInt(8)}px`;  
      deleteButton.style.marginBottom = `${parseInt(16)}px`;  
      deleteButton.style.border = "none"

      deleteButton.addEventListener('click', () => deleteUser(element.uid));

      sw.name = "sr-toggle";
      sw.id = element.uid;
      sw.type = "checkbox";
      sw.checked = !element.disabled;
      sw.style.marginTop = `${parseInt(12)}px`;  
      sw.addEventListener('change', () => isEnable(sw.id, sw.checked));

      var txt = ''
      if (!element.disabled) {
        txt = 'Tài khoản đang bật'
      } else {
        txt = 'Tài khoản đang khoá'
      }

      $("#customers tbody").append('<tr style="margin: 10px;">').append("<td>" +element.email + "</td>")
        .append("<td>" +anem + "</td>")
        .append(sw)
        .append(txt)
        .append("</tr>");
        $("#customers tbody").append("<tr>").append(deleteButton).append("</tr>");
    });


  });       
</script>

</html>